if SHIELD_NARFPAD

config ZMK_KEYBOARD_NAME
    default "NarfPad"

config ZMK_SLEEP
    default y

config ZMK_IDLE_SLEEP_TIMEOUT
    default 900000

config EC11
    default y

config EC11_TRIGGER_GLOBAL_THREAD
    default y

endif