#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <3>;
        map = <
            RC(0,0) RC(0,1) RC(0,2)
            RC(1,0) RC(1,1) RC(1,2)
            RC(2,0) RC(2,1) RC(2,2)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "col2row";
        row-gpios
            = <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* left col  - D1 D4 D7 - P0.28 NFC released via UICR */
            , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* mid col   - D2 D5 D8 */
            , <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* right col - D3 D6 D9 */
            ;
        col-gpios
            = <&xiao_d 4 GPIO_ACTIVE_HIGH>  /* bottom row - D1 D2 D3 */
            , <&xiao_d 5 GPIO_ACTIVE_HIGH>  /* middle row - D4 D5 D6 */
            , <&xiao_d 9 GPIO_ACTIVE_HIGH>  /* top row    - D7 D8 D9 - PCB trace connects here */
            ;
    };
};
