#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
        zmk,physical-layout = &physical_layout;
    };

    physical_layout: physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";
        transform = <&default_transform>;
    };

    // 4 rows x 3 cols.
    // Row 3 only has col 2 (encoder switch).
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <4>;
        map = <
            RC(0,0) RC(0,1) RC(0,2)
            RC(1,0) RC(1,1) RC(1,2)
            RC(2,0) RC(2,1) RC(2,2)
                            RC(3,2)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        diode-direction = "row2col";
        row-gpios
            = <&xiao_d 2 GPIO_ACTIVE_HIGH>  /* D2 pad3 — top row    */
            , <&xiao_d 1 GPIO_ACTIVE_HIGH>  /* D1 pad2 — middle row */
            , <&xiao_d 0 GPIO_ACTIVE_HIGH>  /* D0 pad1 — bottom row */
            , <&xiao_d 3 GPIO_ACTIVE_HIGH>  /* D3 pad4 — enc switch */
            ;
        col-gpios
            = <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D4 pad5 — left col   */
            , <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D5 pad6 — centre col */
            , <&xiao_d 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* D6 pad7 — right col  */
            ;
    };

    encoder: encoder {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  /* D7 pad14 */
        b-gpios = <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;  /* D8 pad13 */
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };
};