# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LILY58_CUSTOM_VIEW

config NICE_VIEW_WIDGET_STATUS
    bool "Custom nice!view status widget"
    select LV_FONT_MONTSERRAT_16
    select LV_USE_IMG
    select LV_USE_CANVAS

if NICE_VIEW_WIDGET_STATUS

config ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
    default y

config ZMK_DISPLAY
    default y

endif # NICE_VIEW_WIDGET_STATUS

endif # SHIELD_LILY58_CUSTOM_VIEW