/*
 * Lily58 Sharp Memory LCD Override
 * Properly disable I2C/SPI to avoid peripheral conflicts
 */

/ {
    chosen {
        zephyr,display = &sharp_display;
    };
};

// Disable ALL I2C/SPI interfaces to free up SPI0
&i2c0 {
    status = "disabled";
};

&pro_micro_i2c {
    status = "disabled";
};

&pro_micro_spi {
    status = "disabled";
};

// Configure pinctrl for SPI
&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,   // P0.20 (D3) = SCLK
                    <NRF_PSEL(SPIM_MOSI, 0, 17)>;  // P0.17 (D2) = MOSI
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 17)>;
            low-power-enable;
        };
    };
};

// Configure SPI0 (not pro_micro_spi)
&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>; // P0.22 (D4) = CS
    
    sharp_display: ls027b7dh01a@0 {
        compatible = "sharp,ls0xx";
        reg = <0>;
        label = "SHARP_DISPLAY";
        spi-max-frequency = <1000000>;
        width = <160>;
        height = <68>;
    };
};