/*
 * Lily58 Sharp Memory LCD Override
 * This file will be automatically discovered by ZMK
 */

/ {
    chosen {
        zephyr,display = &sharp_display;
    };
};

// Disable default I2C OLED
&pro_micro_i2c {
    status = "disabled";
};

// Enable SPI for Sharp display  
&pro_micro_spi {
    status = "okay";
    
    // Your verified pinout:
    // CS = P0.22 (D4), SCLK = P0.20 (D3), MOSI = P0.17 (D2)
    cs-gpios = <&pro_micro 22 GPIO_ACTIVE_HIGH>;
    
    sharp_display: ls027b7dh01@0 {
        compatible = "sharp,ls0xx";
        reg = <0>;
        spi-max-frequency = <1000000>;
        width = <160>;
        height = <68>;
    };
};